--extra-index-url "https://download.pytorch.org/whl/cpu"
optimum-intel[tests,openvino,diffusers]@git+https://github.com/huggingface/optimum-intel
packaging
huggingface-hub
# bumped: 2026-02-06T05:54:59Z
