--extra-index-url "https://download.pytorch.org/whl/cpu"
optimum-intel[tests,openvino,diffusers]@git+https://github.com/huggingface/optimum-intel
packaging
huggingface-hub
# bumped: 2025-12-17T05:24:43Z
